@tailwind base;
@tailwind components;

html {
  font-size: 20px;
}

.btn {
  @apply text-xs font-bold py-1 px-2 rounded;
}

.btn-secondary {
  @apply bg-secondary-500 text-white;
}
.btn-secondary:hover {
  @apply bg-secondary-700;
}

.contact-icon {
  min-width: 1rem;
  @apply fill-current w-4 h-4 mr-4 sm:mr-2;
}

.contact-link {
  @apply text-sm;
}

.contact-link:hover {
  @apply text-gray-500;
}

.section-header {
  @apply text-xl border-l-4 border-dark-500 pl-3 font-bold;
}

.item-header {
  @apply text-xl font-bold tracking-tight leading-relaxed;
}

.item-sub {
  @apply text-neutral-600 dark:text-gray-500 tracking-wide text-sm;
}

.item-content {
  @apply text-justify py-4;
}

.tag {
  @apply px-2 py-1 mr-2 mb-2 bg-neutral-500 dark:text-gray-200 font-semibold text-sm text-white inline-block capitalize rounded;
}

.footer-social-link {
  @apply text-primary-900 dark:text-primary-300 mr-4;
}

.footer-social-link:hover {
  @apply text-primary-500;
}

.footer-social-icon {
  @apply h-6 fill-current;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

@tailwind utilities;
